version: '2'

services:
  bind:
    restart: always
    image: crispychrispe/bind9-webmin2:latest
    ports:
    - "53:53/udp"
    - "53:53/tcp"
    - "10000:10000/tcp"
    volumes:
    - /srv/docker/bind:/data
